<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astinel.mapper.GuestMapper">
	<!-- list -->
	<select id="getList" resultType="com.astinel.domain.GuestVO">
		select * from tbl_guest order by bno desc limit #{limitIndex},5
		<!-- select * from tbl_guest -->
	</select>
 	
 	<!-- inquiry -->
	<select id="read" resultType="com.astinel.domain.GuestVO">
		select * from tbl_guest where bno = #{bno}
	</select>
	
	<!-- delete -->
	<delete id="del">
		delete from tbl_guest where bno = #{bno}
	</delete>
	
	<!-- enroll -->
	<insert id="write">
		insert into tbl_guest (btext) values (#{btext})
	</insert>
	
	<!-- modify -->
	<update id="modify">
		update tbl_guest
		set btext = #{btext}
		where bno = #{bno}
	</update>
	
</mapper>